@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
::-webkit-scrollbar {
	background-color: #0000008d;
	width: 4px;
	height: 0;
}

::-webkit-scrollbar-thumb {
	background-color: #003366;
}

body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #101010;
	color: #fff;
	font-family: Roboto, sans-serif;
	-webkit-tap-highlight-color: transparent;
}

input, button {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	border: none;
	outline: none;
	padding: 4px 8px;
	box-sizing: border-box;
	border-radius: .2rem;
}

button {
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

button:active {
	transform: scale(.98);
	opacity: .8;
}

#login {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#loginForm {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
	max-width: 400px;
}

#nameInput {
	text-align: center;
	flex: 4;
	min-width: 180px;
}

#connectBt {
	flex: 1;
}

#chatContainer {
	position: relative;
	display: none;
	height: 100%;
	padding: 0;
	box-sizing: border-box;
}

#header1 {
	position: fixed;
	top: 0;
	left: 0;
	background: #161616;
	height: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	/* box-shadow: 0 1px 10px #0000004d; */
	z-index: 5;
}

#menuBtContainer {
	width: 40px;
	max-width: 300px;
	height: 100%;
	background: #101010;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 4px;
	box-sizing: border-box;
	transition: 0.4s;
	/* box-shadow: 0 0 5px #0000004d; */
}

#menuBt {
	position: relative;
	width: 32px;
	height: 32px;
	border-radius: 0.2rem;
	border: none;
	outline: none;
	padding: 6px;
	background: transparent;
	cursor: pointer;
}

#menuBt.newMessages::after {
	content: '';
	position: absolute;
	bottom: 6px;
	right: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ff3300;
	animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

#menuBt img {
	width: 100%;
}

#menuSVG {
	transform-origin: center;
	transition: 0.4s;
	stroke: #bdbdbd;
}

#menuBt:hover {
	transform: scale(1.08);
}

#menuBt:active {
	transform: scale(0.98);
}

#titleSpan {
	font-size: 18px;
	margin: 0 12px;
	font-weight: bolder;
	color: #bdbdbd;
}

aside {
	background: linear-gradient(315deg, #202020, #101010);
	/* box-shadow: 5px 0 5px #0000008d; */
	position: fixed;
	top: 0;
	left: -310px;
	width: 90%;
	max-width: 300px;
	height: 100%;
	padding: 43px 0 0;
	box-sizing: border-box;
	z-index: 4;
	transition: .4s;
	user-select: none;
	border-right: 1px solid #101010 !important;
}

#onlineUsersList {
	list-style: none;
	margin: 0;
	padding: 0;
}

#onlineUsersList li {
	position: relative;
	padding: 8px;
	box-sizing: border-box;
	background: linear-gradient(to top, #252525, #202020);
	border: none;
	margin: 0 0 2px;
	cursor: pointer;
	/* transition: .1s; */
	opacity: .8;
}

#onlineUsersList li:hover {
	/* box-shadow: inset 0 0 5px #0000008d; */
	opacity: 1;
}

#onlineUsersList li:active {
	/* background: #151515; */
	background: linear-gradient(to top, #151515, #232323)!important;
	transform: scale(.98)
}

#onlineUsersList li.active {
	/* background: #202020; */
	background: linear-gradient(to bottom, #181818, #222222);
	font-weight: bold;
	opacity: 1;
	/* border-right: 2px solid #006699; */
}

#onlineUsersList li.active::before {
	content: '';
	position: absolute;
	top: calc(50% - 8px);
	left: 0;
	width: 2px;
	height: 16px;
	border-radius: 0 50% 50% 0;
	background: #0099ff;
}

#onlineUsersList li.newMessages::after {
	content: '';
	position: absolute;
	top: calc(50% - 4px);
	right: 8px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ff3300;
}

#shadow {
	transform: scale(0);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #0000008d;
	z-index: 3;
	opacity: 0;
	transition: opacity .4s;
	display: block;
}

section {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	box-sizing: border-box;
}

#chat {
	flex: 1;
	overflow: auto;
	padding: 20px 8px 100px;
	background: linear-gradient(45deg, #101010, #202020);
	box-sizing: border-box;
	/* box-shadow: inset 0 0 20px 5px #0000008d; */
}

#msgInputContainer {
	background: #5050502d;
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - 4px);
	display: flex;
	align-items: center;
	border: none;
	border-top: 1px solid #1010108d;
	border-bottom: 1px solid #1010108d;
	border-radius: 0 15px 0 0;
	/* box-shadow: inset 2px 0 5px -1px #0000008d; */
	padding: 1px 8px 0;
	box-sizing: border-box;
	gap: 6px;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

#messageInput {
	background-color: #181818cd;
	color: #fff;
	margin: 0;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	border: 1px solid #1010108d;
	padding: 4px 8px;
	border-radius: .4rem;
	resize: none;
	outline: none;
}

#sendBt {
	border-radius: 50%;
	border: 1px solid #1010108d;
	padding: 10px;
	background: #181818cd;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sendBt:hover {
	background: #101010cd;
	transform: scale(1.06);
}

#sendBt:active {
	opacity: 1;
	transform: scale(0.98);
	background: #101010ed;
}

#sendBt svg {
	width: 22px;
	stroke: #505050;
	stroke-width: 8;
	stroke-linecap: round;
}

.blueBt {
	background-color: #0099ff;
}

.myMsg {
	display: flex;
	flex-direction: row-reverse;
	margin: 10px 0;
	position: relative;
	overflow: visible;
}

.myMsg::before {
	content: '';
	position: absolute;
	left: 100%;
	top: calc(100% - 8px);
	width: 8px;
	height: 8px;
	background: linear-gradient(45deg, #003366 40%, transparent 40%);
}

.myMsg::after {
	content: '';
	position: absolute;
	/* top: -4px;
	right: 6px;
	width: 10px;
	height: 10px;
	border-radius: 0 1rem 0 0;
	border-right: 4px solid #202020;
	border-top: 4px solid #202020; */
}

.myMsg div {
	background: #003366;
	padding: 10px 14px;
	box-sizing: border-box;
	border-radius: .5rem .5rem 0 .5rem;
	font-weight: bolder;
	color: #fff;
	width: fit-content;
	max-width: 100%;
	overflow: auto;
	height: fit-content;
}

.friendsMsg, .systemMsg {
	margin: 10px 0;
	position: relative;
}

.friendsMsg::before {
	content: '';
	position: absolute;
	right: 100%;
	top: 0;
	width: 8px;
	height: 8px;
	background: linear-gradient(45deg, transparent 60%, #336600 60%);
}

.friendsMsg::after {
	content: '';
	position: absolute;
	/* bottom: -4px;
	left: 6px;
	width: 10px;
	height: 10px;
	border-radius: 0 0 0 1rem;
	border-left: 4px solid #202020;
	border-bottom: 4px solid #202020; */
}

.friendsMsg div {
	background: #336600;
	padding: 10px 14px;
	box-sizing: border-box;
	border-radius: 0 .5rem .5rem .5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: fit-content;
	max-width: 95%;
	overflow: auto;
	height: fit-content;
	resize: none;
	color: #fff;
}

.friendsMsg div sup {
	font-weight: bolder;
	background: #202020;
	padding: 4px 8px;
	border-radius: .3rem;
	margin: -6px 0 10px -10px;
	position: sticky;
	left: -14px;
}

.friendsMsg div b, .systemMsg div b {
	background: inherit;
}

.systemMsg div {
	background: linear-gradient(90deg, transparent 10%, #242424, transparent 90%);
	padding: 8px 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: fit-content;
	resize: none;
	color: #fff;
	font-size: 16px;
}

#errorMsg {
	position: fixed;
	top: -100px;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	background: #dd1212;
	display: flex;
	align-items: center;
	padding: 20px;
	transition: .2s;
	z-index: 3;
}

#errorMsgText {
	flex: 1;
	text-align: center;
	font-weight: bolder;
	color: #ddd;
	font-size: 18px;
}

#closeErrorBtn {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: radial-gradient(#0000008d, transparent 60%);
	color: #bdbdbd;
	cursor: pointer;
	display: flex;
	align-items: center;
}

@media (min-width: 800px) {
	#menuBtContainer {
		width: 300px!important;
	}
	#menuBt {
		display: none;
	}
	#shadow {
		display: none;
	}
	aside {
		position: sticky;
		left: 0;
	}
}